body {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?q=80&w=2072&auto=format&fit=crop') no-repeat center center fixed;
    background-size: cover;
    color: white; text-align: center;
}

#game-container {
    max-width: 450px; margin: 30px auto;
    background: rgba(40, 40, 40, 0.9);
    padding: 25px; border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    min-height: 80vh;
}

h1 { font-size: 2.5em; margin-bottom: 5px; line-height: 1; }
.title-g { color: #009E60; } .title-a { color: #FCD116; } .title-b { color: #3A75C4; }

.menu-grid button, .option-btn, .action-btn-small, .ok-btn, .wa-btn, .continue-btn {
    width: 100%; padding: 15px; margin: 8px 0;
    border: none; border-radius: 12px;
    font-weight: bold; cursor: pointer; transition: 0.3s;
    font-size: 1em;
}

/* Les couleurs de tes captures */
.menu-grid button { background: white; color: black; }
.vip-btn { background: #FCD116 !important; color: black !important; }
.study-btn { background: #333 !important; color: white !important; border: 1px solid white !important; }
.action-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }
.action-btn-small { background: rgba(255,255,255,0.1); color: white; border: 1px solid white; }
.share-btn { background: #00BFFF !important; box-shadow: 0 0 15px #00BFFF; }

.quit-btn { background: #ff4444 !important; color: white; padding: 5px 12px; border-radius: 8px; float: left; }
.payment-card { background: white; color: black; border-radius: 15px; padding: 15px; margin: 15px 0; }
.wa-btn { background: #25D366; color: white; }